In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/predict-west-nile-virus/mapdata_copyright_openstreetmap_contributors.rds
/kaggle/input/predict-west-nile-virus/train.csv.zip
/kaggle/input/predict-west-nile-virus/mapdata_copyright_openstreetmap_contributors.txt.zip
/kaggle/input/predict-west-nile-virus/west_nile.zip
/kaggle/input/predict-west-nile-virus/sampleSubmission.csv.zip
/kaggle/input/predict-west-nile-virus/weather.csv.zip
/kaggle/input/predict-west-nile-virus/noaa_weather_qclcd_documentation.pdf
/kaggle/input/predict-west-nile-virus/spray.csv.zip
/kaggle/input/predict-west-nile-virus/test.csv.zip

In [2]:
from sklearn import ensemble, preprocessing

In [3]:
train = pd.read_csv("/kaggle/input/predict-west-nile-virus/train.csv.zip")
test = pd.read_csv("/kaggle/input/predict-west-nile-virus/test.csv.zip")
sample = pd.read_csv("/kaggle/input/predict-west-nile-virus/sampleSubmission.csv.zip")
weather = pd.read_csv("/kaggle/input/predict-west-nile-virus/weather.csv.zip")

In [4]:
train.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [5]:
test.head()

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
3,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX SALINARIUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
4,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9

In [6]:
labels = train.WnvPresent.values

In [7]:
print(labels)

[0 0 0 ... 0 0 0]

In [8]:
train.isnull().sum()

Date                      0
Address                   0
Species                   0
Block                     0
Street                    0
Trap                      0
AddressNumberAndStreet    0
Latitude                  0
Longitude                 0
AddressAccuracy           0
NumMosquitos              0
WnvPresent                0
dtype: int64

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10506 entries, 0 to 10505
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    10506 non-null  object
 1   Address                 10506 non-null  object
 2   Species                 10506 non-null  object
 3   Block                   10506 non-null  int64
 4   Street                  10506 non-null  object
 5   Trap                    10506 non-null  object
 6   AddressNumberAndStreet  10506 non-null  object
 7   Latitude                10506 non-null  float64
 8   Longitude               10506 non-null  float64
 9   AddressAccuracy         10506 non-null  int64
 10  NumMosquitos            10506 non-null  int64
 11  WnvPresent              10506 non-null  int64
dtypes: float64(2), int64(4), object(6)
memory usage: 985.1+ KB

In [10]:
X_train = train.loc[:, ['Latitude','Longitude']]
Y_train = train.WnvPresent

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import BaggingClassifier
from sklearn import tree
model = BaggingClassifier(tree.DecisionTreeClassifier(random_state=1))
train_x, val_x, train_y, val_y = train_test_split(X_train, Y_train, test_size = .2, random_state = 9)

In [12]:
model.fit(train_x, train_y)

BaggingClassifier(base_estimator=DecisionTreeClassifier(random_state=1))

In [13]:
pred = model.predict(val_x)

In [14]:
pred.shape

(2102,)

In [15]:
score = np.mean((pred-val_y)**2)
score

0.054709800190294956

In [16]:
weather = weather.drop('CodeSum', axis = 1)

In [17]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,Sunset,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,1849,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,-,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,1850,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,-,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,1851,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [18]:
weather_stn1 = weather[weather['Station'] == 1]
weather_stn1

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,Sunset,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,1849,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,1850,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,1851,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9
6,1,2007-05-04,66,49,58,4,41,50,7,0,...,1852,0,M,0.0,T,29.31,30.05,10.4,8,10.8
8,1,2007-05-05,66,53,60,5,38,49,5,0,...,1853,0,M,0.0,T,29.40,30.10,11.7,7,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2934,1,2014-10-27,77,51,64,16,51,58,1,0,...,1653,0,M,0.0,0.00,28.92,29.66,12.0,19,12.9
2936,1,2014-10-28,68,45,57,10,38,47,8,0,...,1651,0,M,0.0,T,29.15,29.85,14.8,26,15.6
2938,1,2014-10-29,49,36,43,-4,32,40,22,0,...,1650,0,M,0.0,0.00,29.36,30.06,9.5,29,9.9
2940,1,2014-10-30,51,32,42,-4,34,40,23,0,...,1649,0,M,0.0,0.00,29.34,30.09,5.1,24,5.5
2942,1,2014-10-31,47,33,40,-6,25,33,25,0,...,1647,0,M,0.1,0.03,29.49,30.20,22.6,34,22.9

In [19]:
weather_stn2 = weather[weather['Station'] == 2]
weather_stn2

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,Sunset,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,-,M,M,M,0.00,29.18,29.82,2.7,25,9.6
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,-,M,M,M,0.00,29.44,30.08,13.3,2,13.4
5,2,2007-05-03,67,48,58,M,40,50,7,0,...,-,M,M,M,0.00,29.46,30.12,12.9,6,13.2
7,2,2007-05-04,78,51,M,M,42,50,M,M,...,-,M,M,M,0.00,29.36,30.04,10.1,7,10.4
9,2,2007-05-05,66,54,60,M,39,50,5,0,...,-,M,M,M,T,29.46,30.09,11.2,7,11.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2935,2,2014-10-27,79,54,67,M,52,59,0,2,...,-,M,M,M,0.02,29.00,29.67,12.7,19,13.6
2937,2,2014-10-28,66,48,57,M,40,48,8,0,...,-,M,M,M,0.03,29.23,29.85,14.0,26,14.6
2939,2,2014-10-29,49,40,45,M,34,42,20,0,...,-,M,M,M,0.00,29.42,30.07,8.5,29,9.0
2941,2,2014-10-30,53,37,45,M,35,42,20,0,...,-,M,M,M,T,29.41,30.10,5.9,23,6.5
2943,2,2014-10-31,49,34,42,M,29,36,23,0,...,-,M,M,M,0.04,29.54,30.20,21.7,34,22.6

In [20]:
weather_stn1 = weather_stn1.drop('Station', axis = 1)
weather_stn1

,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,2007-05-01,83,50,67,14,51,56,0,2,0448,1849,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
2,2007-05-02,59,42,51,-3,42,47,14,0,0447,1850,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
4,2007-05-03,66,46,56,2,40,48,9,0,0446,1851,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9
6,2007-05-04,66,49,58,4,41,50,7,0,0444,1852,0,M,0.0,T,29.31,30.05,10.4,8,10.8
8,2007-05-05,66,53,60,5,38,49,5,0,0443,1853,0,M,0.0,T,29.40,30.10,11.7,7,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2934,2014-10-27,77,51,64,16,51,58,1,0,0618,1653,0,M,0.0,0.00,28.92,29.66,12.0,19,12.9
2936,2014-10-28,68,45,57,10,38,47,8,0,0619,1651,0,M,0.0,T,29.15,29.85,14.8,26,15.6
2938,2014-10-29,49,36,43,-4,32,40,22,0,0620,1650,0,M,0.0,0.00,29.36,30.06,9.5,29,9.9
2940,2014-10-30,51,32,42,-4,34,40,23,0,0622,1649,0,M,0.0,0.00,29.34,30.09,5.1,24,5.5
2942,2014-10-31,47,33,40,-6,25,33,25,0,0623,1647,0,M,0.1,0.03,29.49,30.20,22.6,34,22.9

In [21]:
weather_stn2 = weather_stn2.drop('Station', axis = 1)
weather_stn2

,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
1,2007-05-01,84,52,68,M,51,57,0,3,-,-,M,M,M,0.00,29.18,29.82,2.7,25,9.6
3,2007-05-02,60,43,52,M,42,47,13,0,-,-,M,M,M,0.00,29.44,30.08,13.3,2,13.4
5,2007-05-03,67,48,58,M,40,50,7,0,-,-,M,M,M,0.00,29.46,30.12,12.9,6,13.2
7,2007-05-04,78,51,M,M,42,50,M,M,-,-,M,M,M,0.00,29.36,30.04,10.1,7,10.4
9,2007-05-05,66,54,60,M,39,50,5,0,-,-,M,M,M,T,29.46,30.09,11.2,7,11.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2935,2014-10-27,79,54,67,M,52,59,0,2,-,-,M,M,M,0.02,29.00,29.67,12.7,19,13.6
2937,2014-10-28,66,48,57,M,40,48,8,0,-,-,M,M,M,0.03,29.23,29.85,14.0,26,14.6
2939,2014-10-29,49,40,45,M,34,42,20,0,-,-,M,M,M,0.00,29.42,30.07,8.5,29,9.0
2941,2014-10-30,53,37,45,M,35,42,20,0,-,-,M,M,M,T,29.41,30.10,5.9,23,6.5
2943,2014-10-31,49,34,42,M,29,36,23,0,-,-,M,M,M,0.04,29.54,30.20,21.7,34,22.6

In [22]:
weather = weather_stn1.merge(weather_stn2, on = 'Date')
weather

,Date,Tmax_x,Tmin_x,Tavg_x,Depart_x,DewPoint_x,WetBulb_x,Heat_x,Cool_x,Sunrise_x,...,Sunset_y,Depth_y,Water1_y,SnowFall_y,PrecipTotal_y,StnPressure_y,SeaLevel_y,ResultSpeed_y,ResultDir_y,AvgSpeed_y
0,2007-05-01,83,50,67,14,51,56,0,2,0448,...,-,M,M,M,0.00,29.18,29.82,2.7,25,9.6
1,2007-05-02,59,42,51,-3,42,47,14,0,0447,...,-,M,M,M,0.00,29.44,30.08,13.3,2,13.4
2,2007-05-03,66,46,56,2,40,48,9,0,0446,...,-,M,M,M,0.00,29.46,30.12,12.9,6,13.2
3,2007-05-04,66,49,58,4,41,50,7,0,0444,...,-,M,M,M,0.00,29.36,30.04,10.1,7,10.4
4,2007-05-05,66,53,60,5,38,49,5,0,0443,...,-,M,M,M,T,29.46,30.09,11.2,7,11.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1467,2014-10-27,77,51,64,16,51,58,1,0,0618,...,-,M,M,M,0.02,29.00,29.67,12.7,19,13.6
1468,2014-10-28,68,45,57,10,38,47,8,0,0619,...,-,M,M,M,0.03,29.23,29.85,14.0,26,14.6
1469,2014-10-29,49,36,43,-4,32,40,22,0,0620,...,-,M,M,M,0.00,29.42,30.07,8.5,29,9.0
1470,2014-10-30,51,32,42,-4,34,40,23,0,0622,...,-,M,M,M,T,29.41,30.10,5.9,23,6.5
1471,2014-10-31,47,33,40,-6,25,33,25,0,0623,...,-,M,M,M,0.04,29.54,30.20,21.7,34,22.6

In [23]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1472 entries, 0 to 1471
Data columns (total 39 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1472 non-null   object
 1   Tmax_x         1472 non-null   int64
 2   Tmin_x         1472 non-null   int64
 3   Tavg_x         1472 non-null   object
 4   Depart_x       1472 non-null   object
 5   DewPoint_x     1472 non-null   int64
 6   WetBulb_x      1472 non-null   object
 7   Heat_x         1472 non-null   object
 8   Cool_x         1472 non-null   object
 9   Sunrise_x      1472 non-null   object
 10  Sunset_x       1472 non-null   object
 11  Depth_x        1472 non-null   object
 12  Water1_x       1472 non-null   object
 13  SnowFall_x     1472 non-null   object
 14  PrecipTotal_x  1472 non-null   object
 15  StnPressure_x  1472 non-null   object
 16  SeaLevel_x     1472 non-null   object
 17  ResultSpeed_x  1472 non-null   float64
 18  ResultDir_x    1472 non-null   int64
 19  AvgSpeed_x     1472 non-null   object
 20  Tmax_y         1472 non-null   int64
 21  Tmin_y         1472 non-null   int64
 22  Tavg_y         1472 non-null   object
 23  Depart_y       1472 non-null   object
 24  DewPoint_y     1472 non-null   int64
 25  WetBulb_y      1472 non-null   object
 26  Heat_y         1472 non-null   object
 27  Cool_y         1472 non-null   object
 28  Sunrise_y      1472 non-null   object
 29  Sunset_y       1472 non-null   object
 30  Depth_y        1472 non-null   object
 31  Water1_y       1472 non-null   object
 32  SnowFall_y     1472 non-null   object
 33  PrecipTotal_y  1472 non-null   object
 34  StnPressure_y  1472 non-null   object
 35  SeaLevel_y     1472 non-null   object
 36  ResultSpeed_y  1472 non-null   float64
 37  ResultDir_y    1472 non-null   int64
 38  AvgSpeed_y     1472 non-null   object
dtypes: float64(2), int64(8), object(29)
memory usage: 460.0+ KB

In [24]:
weather.describe()

,Tmax_x,Tmin_x,DewPoint_x,ResultSpeed_x,ResultDir_x,Tmax_y,Tmin_y,DewPoint_y,ResultSpeed_y,ResultDir_y
count,1472.00000,1472.000000,1472.000000,1472.000000,1472.000000,1472.000000,1472.000000,1472.000000,1472.000000,1472.00000
mean,75.97894,56.730978,53.377717,6.987092,17.656250,76.353261,58.889946,53.538043,6.934239,17.33356
std,11.50315,10.347907,10.670263,3.586353,10.222077,11.421482,10.306855,10.683121,3.589725,9.90345
min,42.00000,29.000000,22.000000,0.100000,1.000000,41.000000,29.000000,23.000000,0.300000,1.00000
25%,68.00000,49.000000,46.000000,4.400000,7.000000,69.000000,51.000000,46.000000,4.275000,8.00000
50%,78.00000,58.000000,54.000000,6.400000,19.500000,78.000000,60.000000,55.000000,6.500000,19.00000
75%,85.00000,65.000000,61.250000,9.100000,26.000000,85.000000,67.000000,62.000000,9.225000,24.00000
max,103.00000,82.000000,75.000000,24.100000,36.000000,104.000000,83.000000,74.000000,21.700000,36.00000

In [25]:
weather = weather.replace('M', -1)
weather

,Date,Tmax_x,Tmin_x,Tavg_x,Depart_x,DewPoint_x,WetBulb_x,Heat_x,Cool_x,Sunrise_x,...,Sunset_y,Depth_y,Water1_y,SnowFall_y,PrecipTotal_y,StnPressure_y,SeaLevel_y,ResultSpeed_y,ResultDir_y,AvgSpeed_y
0,2007-05-01,83,50,67,14,51,56,0,2,0448,...,-,-1,-1,-1,0.00,29.18,29.82,2.7,25,9.6
1,2007-05-02,59,42,51,-3,42,47,14,0,0447,...,-,-1,-1,-1,0.00,29.44,30.08,13.3,2,13.4
2,2007-05-03,66,46,56,2,40,48,9,0,0446,...,-,-1,-1,-1,0.00,29.46,30.12,12.9,6,13.2
3,2007-05-04,66,49,58,4,41,50,7,0,0444,...,-,-1,-1,-1,0.00,29.36,30.04,10.1,7,10.4
4,2007-05-05,66,53,60,5,38,49,5,0,0443,...,-,-1,-1,-1,T,29.46,30.09,11.2,7,11.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1467,2014-10-27,77,51,64,16,51,58,1,0,0618,...,-,-1,-1,-1,0.02,29.00,29.67,12.7,19,13.6
1468,2014-10-28,68,45,57,10,38,47,8,0,0619,...,-,-1,-1,-1,0.03,29.23,29.85,14.0,26,14.6
1469,2014-10-29,49,36,43,-4,32,40,22,0,0620,...,-,-1,-1,-1,0.00,29.42,30.07,8.5,29,9.0
1470,2014-10-30,51,32,42,-4,34,40,23,0,0622,...,-,-1,-1,-1,T,29.41,30.10,5.9,23,6.5
1471,2014-10-31,47,33,40,-6,25,33,25,0,0623,...,-,-1,-1,-1,0.04,29.54,30.20,21.7,34,22.6

In [26]:
weather.isnull().sum()

Date             0
Tmax_x           0
Tmin_x           0
Tavg_x           0
Depart_x         0
DewPoint_x       0
WetBulb_x        0
Heat_x           0
Cool_x           0
Sunrise_x        0
Sunset_x         0
Depth_x          0
Water1_x         0
SnowFall_x       0
PrecipTotal_x    0
StnPressure_x    0
SeaLevel_x       0
ResultSpeed_x    0
ResultDir_x      0
AvgSpeed_x       0
Tmax_y           0
Tmin_y           0
Tavg_y           0
Depart_y         0
DewPoint_y       0
WetBulb_y        0
Heat_y           0
Cool_y           0
Sunrise_y        0
Sunset_y         0
Depth_y          0
Water1_y         0
SnowFall_y       0
PrecipTotal_y    0
StnPressure_y    0
SeaLevel_y       0
ResultSpeed_y    0
ResultDir_y      0
AvgSpeed_y       0
dtype: int64

In [27]:
weather = weather.replace('-', -1)
weather

,Date,Tmax_x,Tmin_x,Tavg_x,Depart_x,DewPoint_x,WetBulb_x,Heat_x,Cool_x,Sunrise_x,...,Sunset_y,Depth_y,Water1_y,SnowFall_y,PrecipTotal_y,StnPressure_y,SeaLevel_y,ResultSpeed_y,ResultDir_y,AvgSpeed_y
0,2007-05-01,83,50,67,14,51,56,0,2,0448,...,-1,-1,-1,-1,0.00,29.18,29.82,2.7,25,9.6
1,2007-05-02,59,42,51,-3,42,47,14,0,0447,...,-1,-1,-1,-1,0.00,29.44,30.08,13.3,2,13.4
2,2007-05-03,66,46,56,2,40,48,9,0,0446,...,-1,-1,-1,-1,0.00,29.46,30.12,12.9,6,13.2
3,2007-05-04,66,49,58,4,41,50,7,0,0444,...,-1,-1,-1,-1,0.00,29.36,30.04,10.1,7,10.4
4,2007-05-05,66,53,60,5,38,49,5,0,0443,...,-1,-1,-1,-1,T,29.46,30.09,11.2,7,11.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1467,2014-10-27,77,51,64,16,51,58,1,0,0618,...,-1,-1,-1,-1,0.02,29.00,29.67,12.7,19,13.6
1468,2014-10-28,68,45,57,10,38,47,8,0,0619,...,-1,-1,-1,-1,0.03,29.23,29.85,14.0,26,14.6
1469,2014-10-29,49,36,43,-4,32,40,22,0,0620,...,-1,-1,-1,-1,0.00,29.42,30.07,8.5,29,9.0
1470,2014-10-30,51,32,42,-4,34,40,23,0,0622,...,-1,-1,-1,-1,T,29.41,30.10,5.9,23,6.5
1471,2014-10-31,47,33,40,-6,25,33,25,0,0623,...,-1,-1,-1,-1,0.04,29.54,30.20,21.7,34,22.6

In [28]:
weather = weather.replace('T', -1)
weather

,Date,Tmax_x,Tmin_x,Tavg_x,Depart_x,DewPoint_x,WetBulb_x,Heat_x,Cool_x,Sunrise_x,...,Sunset_y,Depth_y,Water1_y,SnowFall_y,PrecipTotal_y,StnPressure_y,SeaLevel_y,ResultSpeed_y,ResultDir_y,AvgSpeed_y
0,2007-05-01,83,50,67,14,51,56,0,2,0448,...,-1,-1,-1,-1,0.00,29.18,29.82,2.7,25,9.6
1,2007-05-02,59,42,51,-3,42,47,14,0,0447,...,-1,-1,-1,-1,0.00,29.44,30.08,13.3,2,13.4
2,2007-05-03,66,46,56,2,40,48,9,0,0446,...,-1,-1,-1,-1,0.00,29.46,30.12,12.9,6,13.2
3,2007-05-04,66,49,58,4,41,50,7,0,0444,...,-1,-1,-1,-1,0.00,29.36,30.04,10.1,7,10.4
4,2007-05-05,66,53,60,5,38,49,5,0,0443,...,-1,-1,-1,-1,T,29.46,30.09,11.2,7,11.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1467,2014-10-27,77,51,64,16,51,58,1,0,0618,...,-1,-1,-1,-1,0.02,29.00,29.67,12.7,19,13.6
1468,2014-10-28,68,45,57,10,38,47,8,0,0619,...,-1,-1,-1,-1,0.03,29.23,29.85,14.0,26,14.6
1469,2014-10-29,49,36,43,-4,32,40,22,0,0620,...,-1,-1,-1,-1,0.00,29.42,30.07,8.5,29,9.0
1470,2014-10-30,51,32,42,-4,34,40,23,0,0622,...,-1,-1,-1,-1,T,29.41,30.10,5.9,23,6.5
1471,2014-10-31,47,33,40,-6,25,33,25,0,0623,...,-1,-1,-1,-1,0.04,29.54,30.20,21.7,34,22.6

In [29]:
weather = weather.replace(' T', -1)
weather

,Date,Tmax_x,Tmin_x,Tavg_x,Depart_x,DewPoint_x,WetBulb_x,Heat_x,Cool_x,Sunrise_x,...,Sunset_y,Depth_y,Water1_y,SnowFall_y,PrecipTotal_y,StnPressure_y,SeaLevel_y,ResultSpeed_y,ResultDir_y,AvgSpeed_y
0,2007-05-01,83,50,67,14,51,56,0,2,0448,...,-1,-1,-1,-1,0.00,29.18,29.82,2.7,25,9.6
1,2007-05-02,59,42,51,-3,42,47,14,0,0447,...,-1,-1,-1,-1,0.00,29.44,30.08,13.3,2,13.4
2,2007-05-03,66,46,56,2,40,48,9,0,0446,...,-1,-1,-1,-1,0.00,29.46,30.12,12.9,6,13.2
3,2007-05-04,66,49,58,4,41,50,7,0,0444,...,-1,-1,-1,-1,0.00,29.36,30.04,10.1,7,10.4
4,2007-05-05,66,53,60,5,38,49,5,0,0443,...,-1,-1,-1,-1,T,29.46,30.09,11.2,7,11.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1467,2014-10-27,77,51,64,16,51,58,1,0,0618,...,-1,-1,-1,-1,0.02,29.00,29.67,12.7,19,13.6
1468,2014-10-28,68,45,57,10,38,47,8,0,0619,...,-1,-1,-1,-1,0.03,29.23,29.85,14.0,26,14.6
1469,2014-10-29,49,36,43,-4,32,40,22,0,0620,...,-1,-1,-1,-1,0.00,29.42,30.07,8.5,29,9.0
1470,2014-10-30,51,32,42,-4,34,40,23,0,0622,...,-1,-1,-1,-1,T,29.41,30.10,5.9,23,6.5
1471,2014-10-31,47,33,40,-6,25,33,25,0,0623,...,-1,-1,-1,-1,0.04,29.54,30.20,21.7,34,22.6

In [30]:
weather = weather.replace('  T', -1)
weather

,Date,Tmax_x,Tmin_x,Tavg_x,Depart_x,DewPoint_x,WetBulb_x,Heat_x,Cool_x,Sunrise_x,...,Sunset_y,Depth_y,Water1_y,SnowFall_y,PrecipTotal_y,StnPressure_y,SeaLevel_y,ResultSpeed_y,ResultDir_y,AvgSpeed_y
0,2007-05-01,83,50,67,14,51,56,0,2,0448,...,-1,-1,-1,-1,0.00,29.18,29.82,2.7,25,9.6
1,2007-05-02,59,42,51,-3,42,47,14,0,0447,...,-1,-1,-1,-1,0.00,29.44,30.08,13.3,2,13.4
2,2007-05-03,66,46,56,2,40,48,9,0,0446,...,-1,-1,-1,-1,0.00,29.46,30.12,12.9,6,13.2
3,2007-05-04,66,49,58,4,41,50,7,0,0444,...,-1,-1,-1,-1,0.00,29.36,30.04,10.1,7,10.4
4,2007-05-05,66,53,60,5,38,49,5,0,0443,...,-1,-1,-1,-1,-1,29.46,30.09,11.2,7,11.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1467,2014-10-27,77,51,64,16,51,58,1,0,0618,...,-1,-1,-1,-1,0.02,29.00,29.67,12.7,19,13.6
1468,2014-10-28,68,45,57,10,38,47,8,0,0619,...,-1,-1,-1,-1,0.03,29.23,29.85,14.0,26,14.6
1469,2014-10-29,49,36,43,-4,32,40,22,0,0620,...,-1,-1,-1,-1,0.00,29.42,30.07,8.5,29,9.0
1470,2014-10-30,51,32,42,-4,34,40,23,0,0622,...,-1,-1,-1,-1,-1,29.41,30.10,5.9,23,6.5
1471,2014-10-31,47,33,40,-6,25,33,25,0,0623,...,-1,-1,-1,-1,0.04,29.54,30.20,21.7,34,22.6

In [31]:
def create_month(x):
    return x.split('-')[1]
def create_day(x):
    return x.split('-')[2]

In [32]:
train['month'] = train.Date.apply(create_month)
train['day'] = train.Date.apply(create_day)
test['month'] = test.Date.apply(create_month)
test['day'] = test.Date.apply(create_day)

In [33]:
train['Lat_int'] = train.Latitude.apply(int)
train['Long_int'] = train.Longitude.apply(int)
test['Lat_int'] = test.Latitude.apply(int)
test['Long_int'] = test.Longitude.apply(int)

In [34]:
train = train.drop(['Address', 'AddressNumberAndStreet', 'WnvPresent', 'NumMosquitos' ], axis = 1)
test = test.drop(['Id', 'Address', 'AddressNumberAndStreet'], axis = 1)

In [35]:
train = train.merge(weather, on = 'Date')
test = test.merge(weather, on = 'Date')
train = train.drop(['Date'], axis = 1)
test = test.drop(['Date'], axis = 1)
train.head()

,Species,Block,Street,Trap,Latitude,Longitude,AddressAccuracy,month,day,Lat_int,...,Sunset_y,Depth_y,Water1_y,SnowFall_y,PrecipTotal_y,StnPressure_y,SeaLevel_y,ResultSpeed_y,ResultDir_y,AvgSpeed_y
0,CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,41.954690,-87.800991,9,05,29,41,...,-1,-1,-1,-1,0.00,29.44,30.09,5.8,16,7.4
1,CULEX RESTUANS,41,N OAK PARK AVE,T002,41.954690,-87.800991,9,05,29,41,...,-1,-1,-1,-1,0.00,29.44,30.09,5.8,16,7.4
2,CULEX RESTUANS,62,N MANDELL AVE,T007,41.994991,-87.769279,9,05,29,41,...,-1,-1,-1,-1,0.00,29.44,30.09,5.8,16,7.4
3,CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,41.974089,-87.824812,8,05,29,41,...,-1,-1,-1,-1,0.00,29.44,30.09,5.8,16,7.4
4,CULEX RESTUANS,79,W FOSTER AVE,T015,41.974089,-87.824812,8,05,29,41,...,-1,-1,-1,-1,0.00,29.44,30.09,5.8,16,7.4

In [36]:
lbl = preprocessing.LabelEncoder()
lbl.fit(list(train['Species'].values) + list(test['Species'].values))
train['Species'] = lbl.transform(train['Species'].values)
test['Species'] = lbl.transform(test['Species'].values)

lbl.fit(list(train['Street'].values) + list(test['Street'].values))
train['Street'] = lbl.transform(train['Street'].values)
test['Street'] = lbl.transform(test['Street'].values)

lbl.fit(list(train['Trap'].values) + list(test['Trap'].values))
train['Trap'] = lbl.transform(train['Trap'].values)
test['Trap'] = lbl.transform(test['Trap'].values)

In [37]:
train = train.loc[:, (train != -1).any(axis = 0)]
test = test.loc[:, (test != -1).any(axis = 0)]

In [38]:
clf = ensemble.RandomForestClassifier(n_jobs=-1, n_estimators=1000, min_samples_split=1.0)

In [39]:
clf

RandomForestClassifier(min_samples_split=1.0, n_estimators=1000, n_jobs=-1)

In [40]:
clf.fit(train,labels)

RandomForestClassifier(min_samples_split=1.0, n_estimators=1000, n_jobs=-1)